@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    font-family: 'Jost', sans-serif;
    color: white;
    background: #140021;
    overflow-x: hidden;
}
.container-fluid {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
    scroll-padding: 100px;
}

.navbar.has-centered-menu .navbar-start {
    flex-grow: 1;
    justify-content: center;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    padding: 100px 20vw;
    height: 100vh;
    scroll-snap-align: start;
}

.red {
    background: #002233;
}

.pink {
    background: #ff0066;
}

.dark {
    background: #0f0f10;
}

.curve {
    position: absolute;
    height: 525px;
    width: 100%;

}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #202731;
    transform: translate(85%, 60%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-4%, 40%);
    z-index: -1;
}

.blue-pink {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.blue-pink svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 282px;
}

.blue-pink .shape-fill {
    fill: #ff0066;
}

.pink-blu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.pink-blu svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 47px;
    transform: rotateY(180deg);
}

.pink-blu .shape-fill {
    fill: #ff0066;
}

.wave-btm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave-btm svg {
    position: relative;
    display: block;
    width: calc(222% + 1.3px);
    height: 289px;
    transform: rotateY(180deg);
}

.wave-btm .shape-fill {
    fill: #3c31dd;
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url(./wave-haikei.svg);
}

.layer2 {
    background-image: url(./wave-haikei.svg);
}

.flip {
    transform: rotate(180deg);
}

.blob-motion {
    position: absolute;
    transform: translate(-20%);
}
.custom-shape-divider-bottom-1637573107 {
    /* position: absolute; */
    /* bottom: 0;
    left: 0; */
    width: 100%;
    overflow: hidden;
    line-height: 0;
    /* transform: rotate(180deg); */
}

.custom-shape-divider-bottom-1637573107 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1637573107 .shape-fill {
    fill: #0f0f10;
}
#contact {
    height: 50vh;
}

#projects {
    background-image: url(./circle-bg.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#home {
    background: #020024;
}